#main {
    margin-top: 6rem;
}

@media (min-width: 1100px) {
    #main {
        margin-top: 10rem !important;
    }
}


#main-content {
    width: 100%;
    display:flex;
    flex-direction:column;
    gap: 3rem;
}
.list-email{
    max-height: 400px;
    overflow-y: auto;
}

.list-email::-webkit-scrollbar {
    width: 8px;
}

.list-email::-webkit-scrollbar-track {
    background: #f1f1f1;
    padding: 2px;
}

.list-email::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px; 
}

    .list-email::-webkit-scrollbar-thumb:hover {
        background: #555; /* Màu của thanh cuộn khi di chuột qua */
    }


.subscribe-div {
    padding: 2rem;
    max-width: 800px;
    background: white;
    border-radius: 20px;
    flex-flow: column;
    gap: 40px;
    box-shadow: rgba(0, 0, 0, .1049607843) 0px 3px 10px;
}

    .subscribe-div h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        text-align: center;
        font-weight: 700;
    }

    .subscribe-div .service {
        width: 90%;
        text-align: right;
    }

.list-form {
    max-height: 600px;
    overflow-y: auto;
}

.list-form::-webkit-scrollbar {
    width: 8px;
}

.list-form::-webkit-scrollbar-track {
    background: #f1f1f1;
    padding: 2px;
}

.list-form::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

    .list-form::-webkit-scrollbar-thumb:hover {
        background: #555; /* Màu của thanh cuộn khi di chuột qua */
    }
.form-div {
    padding: 2rem;
    background: white;
    border-radius: 20px;
    flex-flow: column;
    justify-content: center;
    gap: 40px;
    box-shadow: rgba(0, 0, 0, .1049607843) 0px 3px 10px;
}

    .form-div h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        text-align: center;
        font-weight: 700;
    }


#show-content textarea{
    height: 400px;
}