#main {
    margin-top: 4rem;
}

@media (min-width: 1100px) {
    #main {
        margin-top: 10rem !important;
    }
}


#content {
    min-height: 400px;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.td_crieria {
    width: 60%;
}

.col1 {
    width: 1rem;
    text-align: center;
}

.col2 {
    width: 3rem;
}

.col3 {
    width: 6rem;
}

.col4 {
    width: 8rem;
}

.col5 {
    width: 7rem;
}

.col6 {
    width: 14rem;
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-no-border {
    border: none;
}

a {
    color: inherit;
    /* Kế thừa màu văn bản từ phần tử cha */
    text-decoration: none;
    /* Bỏ gạch chân */
    cursor: pointer;
    /* Đặt con trỏ thành con trỏ trỏ tay */
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

    a:hover {
        color: inherit;
        /* Màu khi hover */
        text-decoration: none;
        /* Giữ nguyên không có gạch chân khi hover */
    }

.flex-container {
    display: flex;
    flex-direction: row;
    /* Sắp xếp các phần tử theo chiều ngang */
    justify-content: flex-start;
    /* Căn chỉnh các phần tử về phía bắt đầu của container */
    align-items: center;
    /* Căn chỉnh các phần tử theo chiều dọc */
    gap: 10px;
    /* Khoảng cách giữa các phần tử */
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.primary {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #dedede;
}

.td_crieria {
    width: 140px;
}

ul {
    z-index: 200;
}

table {
    border-radius: 20px;
}

th td tr {
    border-bottom: 2px solid #dee2e6;
}

    th td tr:hover {
        background-color: #464343;
        border-bottom: 2px solid #dee2e6;
    }

th {
    font-size: 18px;
    background-color: inherit;
}

td {
    font-weight: 500;
}

tbody tr:nth-child(even) {
    background-color: #d5d2d2;
    /* Màu nền cho các hàng chẵn */
}

tbody tr:nth-child(odd) {
    background-color: #b7b6b6;
    /* Màu nền cho các hàng lẻ */
}

thead {
    background-color: #f8fafd;
    padding: 5px;
}

#new_activity_content {
    overflow: hidden;
    /* Ẩn phần vượt ra ngoài */
    height: 280px;
    /* Đảm bảo đủ không gian cho hiển thị chữ */
    position: relative;
    /* Để chữ có thể di chuyển */
}

.input_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem !important;
    margin-bottom: 0.5rem;
}

.sub_input_section {
    margin-right: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.select_input_section {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    background-color: inherit;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 130px;
}

#input_header {
    flex-wrap: wrap;
}

.inherit-color {
    background-color: inherit !important;
}

#codepad {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#listcodepad {
    width: 78rem;
    max-width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
}

.detail {
    width: inherit;
    
}

.detail-button {
    width: 4rem;
}

#select-role-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.access-role {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.4rem;
    flex-wrap: nowrap;
    padding: 10px;
}

    .access-role:hover {
        background-color: #d5d2d2;
        border-radius: 10px;
        padding: 10px;
    }

.checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}

    .checkbox-wrapper-31 .background {
        fill: #ccc;
        transition: ease all 0.6s;
        -webkit-transition: ease all 0.6s;
    }

    .checkbox-wrapper-31 .stroke {
        fill: none;
        stroke: #fff;
        stroke-miterlimit: 10;
        stroke-width: 2px;
        stroke-dashoffset: 100;
        stroke-dasharray: 100;
        transition: ease all 0.6s;
        -webkit-transition: ease all 0.6s;
    }

    .checkbox-wrapper-31 .check {
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
        stroke-dashoffset: 22;
        stroke-dasharray: 22;
        transition: ease all 0.6s;
        -webkit-transition: ease all 0.6s;
    }

    .checkbox-wrapper-31 input[type="radio"] {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin: 0;
        opacity: 0;
        -appearance: none;
        -webkit-appearance: none;
    }

        .checkbox-wrapper-31 input[type="radio"]:hover {
            cursor: pointer;
        }

        .checkbox-wrapper-31 input[type="radio"]:checked + svg .background {
            fill: #6cbe45;
        }

        .checkbox-wrapper-31 input[type="radio"]:checked + svg .stroke {
            stroke-dashoffset: 0;
        }

        .checkbox-wrapper-31 input[type="radio"]:checked + svg .check {
            stroke-dashoffset: 0;
        }

.loader {
    display: none;
    width: 40px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn);
    }
}

#scroll-table {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    max-width: 100%;
    align-items: center;
    align-content: left;
    justify-content: center;
    flex-wrap: wrap;
}
