#main {
    margin-top: 6rem;
}

@media (min-width: 1100px) {
    #main {
        margin-top: 10rem !important;
    }
}


#main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
    #main-content form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: white;
        border-radius: 30px;
        padding: 30px;
        box-shadow: rgba(0, 0, 0, .1049607843) 0px 3px 10px;
    }
#main-content form h2{
    text-align:center;
    font-weight:bold;
}

.required{
    color:red;
    font-weight: bold;
}


.intro-picture {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    flex-wrap: wrap;
}

    .intro-picture .previewImage {
        width: 320px;
        height: 320px;
        border: 1px solid black;
    }

        .intro-picture .previewImage img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .intro-picture input {
        width: 200px;
    }
