#main {
    margin-top: 6rem;
}

@media (min-width: 1100px) {
    #main {
        margin-top: 10rem !important;
    }
}


#main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.list-table {
    background: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, .1049607843) 0px 3px 10px;
}
.list-table h2{
    text-align:center;
}

    .list-table .service {
        width: 90%;
        text-align: left;
    }

.list-type {
    max-height: 800px;
    overflow-y: auto;
}

.list-type::-webkit-scrollbar {
    width: 8px;
}

.list-type::-webkit-scrollbar-track {
    background: #f1f1f1;
    padding: 2px;
}

.list-type::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

    .list-type::-webkit-scrollbar-thumb:hover {
        background: #555; /* Màu của thanh cuộn khi di chuột qua */
    }