body {
    background-image: url('/assets/images/bg-introduce.png') !important;
    background-size: cover !important;
}

#main {
    margin-top: 4rem;
}

@media (min-width: 1100px) {
    #main {
        margin-top: 10rem !important;
    }
}


.main-container{
    width: 100%;

    display:flex;
    flex-direction:column;
    gap:1rem;
    justify-content:center;
    align-items:center;
    margin: 1rem;
}

.intro-picture{
    width: 100%;
    text-align: left;
    display:flex;
    align-items:flex-end;
    gap: 1rem;
    flex-wrap: wrap;
}

.intro-picture .previewImage{
    width: 320px;
    height: 320px;
    border: 1px solid black;
}
.intro-picture .previewImage img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.intro-picture input{
    width: 200px;
}

.news{
    font-size: 40px;
    font-weight: bolder;
}


.edit-content {
    border-radius: 10px;
}

#editor {
    width: 100%;
    height: 100%;
}
.ck-editor__editable_inline {
    min-height: 500px;
    max-height: 700px;
    height: 500px;
    width: 100%;
}

.save{
    width: 100%;
    text-align:right;
}