

body {
    background-image: url('/assets/images/bg-introduce.png') !important;
    background-size: cover !important;
}

.main-content {
    width: 100%;
    text-align:center;
    padding: 0 40px;
    margin: 40px 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


.intro-picture{
    width: 100%;
    height: 300px;
}

.intro-picture img{
    width:100%;
    height:100%;
    object-fit:cover;
}


.cross-over {
    width: 100%;
    height: 40px;
    background-color: #e1e1e1;
}



.intro-title-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    letter-spacing: -1px;
    align-items: center;
}

    .intro-title-content div {
        transform: scaleY(1.5);
        margin-bottom: 20px;
    }

    .intro-title-content::after {
        content: '';
        width: 14rem;
        height: 1.4px;
        background: #29C576;
        align-self: center;
    }

    .intro-title-content strong {
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-size: 2.6rem;
    }

    .intro-title-content p {
        font-family: 'Courier New', Courier, monospace;
        font-weight: normal;
        font-size: 1.6rem;
        opacity: 0.7;
        text-transform: none;
        letter-spacing: -3px;
        text-align: center;
    }




.support-options {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: fit-content;
}

.support-option {
    min-width: 200px;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 20px;
    max-width: 28%;
    box-shadow: rgba(0, 0, 0, .1049607843) 0px 3px 10px;
}

    .support-option h2 {
        font-size: 18px;
        font-weight:bold;
        margin-bottom: 10px;
    }

    .support-option p {
        color: #888;
        margin-bottom: 20px;
        height: 50px;
    }

.button {
    width: max(40%, 170px);
    display: inline-block;
    padding: 10px 20px;
    background-color: #c7ffc5;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

    .button:hover {
        background-color: #1b8217;
        color:#fff !important;
    }

@media (max-width: 715px) {
    #intro-title .intro-title-content {
        font-size: 1.8rem;
    }

        #intro-title .intro-title-content strong {
            text-wrap: nowrap;
            font-size: 2.2rem;
        }
    .support-options{
        gap: 1.5rem;
    }
    .support-option {
        max-width: 80%;
    }
}