


body {
    background-image: url('/assets/images/bg-introduce.png') !important;
    background-size: cover !important;
}
.intro-picture {
    width: 100%;
    height: 300px;
}

    .intro-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



.cross-over {
    width: 100%;
    height: 40px;
    background-color: #e1e1e1;
}


.main-content {
    width: 100%;
    text-align: center;
    padding: 0 40px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-logo{
    width: 400px;
    height: 130px;
}
.title-logo img{
    width: 100%;
    height: 100%;
}

.subtitle {
    width: min(80%, 1100px);
    font-weight: 450;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 1.6rem;
    opacity: 0.7;
    text-transform: none;
    letter-spacing: -3px;
    text-align: center;
    margin-bottom: 2rem;
}


.support-options {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    width: fit-content;
}

.support-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    width: 30%;
    max-width: 30%;
    min-width: 300px;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, .1049607843) 0px 3px 10px;
}
    .support-option .title-icon{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: lightgreen;
        align-content:center;
    }
        .support-option .title-icon img{
            width: 50%;
            height: 50%;
        }

    .support-option h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .support-option div {
        color: #888;
        margin-bottom: 20px;
        height: fit-content;
        text-align:center;
    }


@media (max-width: 715px) {
    .title-logo{
        width:340px;
        height:auto;
    }
    .support-options {
        gap: 1.5rem;
    }

    .support-option {
        max-width: 80%;
    }
}