
:root {
    --greenhl: #6fb490;
}
body{
    background-image: url('/assets/images/bg-introduce.png') !important; 
    background-size:cover !important;
}
#main{
    margin-top: 4rem;
}

@media (min-width: 1100px){
    #main{
        margin-top: 10rem !important;
    }
}


#content{
    min-height: 400px;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#intro-picture {
    width: 100%;
    height: fit-content;
}

.intro-para{
    width: 100%;
    box-sizing: border-box;
}
.intro-para .container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    height: max-content;
}

.intro-para .para-content{
    width: 45%;
    min-width: 40%;
    max-width: 100%;
}
.intro-para .para-content h4{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #3ac810;
}
.intro-para .para-content i{
    color: #90e577;
    font-size: 20px;
}
.intro-para .para-content p {
    text-align: justify;
}

    .intro-para .para-img {
        align-content: center;
    }
        .intro-para .para-img img {
            border-radius: 20px;
            height: 80%;
            width: 100%;
            box-shadow: 12px 12px 10px var(--greenhl), 13px 11px 40px var(--greenhl), 12px 14px 80px var(--greenhl);
            
        }

@media (max-width: 1400px){
    .intro-para .para-content{
        width: 100%;
    }
    .intro-para .para-img{
        width: 100%;
        align-items:center;
    }
    .intro-para .para-img img{
        width: 100%;
    }
}

.intro-info{
    display: flex;
    width: 100%;
    justify-content: center;
}
.intro-info .container{
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    width:fit-content;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, .1049607843) 2px 3px 10px;
    padding: 1.5rem 0.4rem;
    margin: 0rem 2rem 3rem;
}
.intro-info .subinfo{
    display: flex;
    flex-direction: column;
    max-width: 28%;
    min-width: 300px;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.intro-info .subinfo img{
    width: 80px;
    height: 80px;
}