:root {
    --greenhl: #6fb490;
}
#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#intro-picture {
    width: 100%;
    height: 600px;
}


.introSwiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .swiper-slide img {
        width: 100%;
        aspect-ratio: 16 / 9; /* hoặc tuỳ bạn */
        object-fit: cover;
        object-position: bottom;
        display: block;
        user-select: none;
    }




#intro-title {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 70px 15px;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.intro-title-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    letter-spacing: -1px;
    align-items: center;
}

.intro-title-content div {
    transform: scaleY(1.5);
    margin-bottom: 20px;
    text-align:center;
}

.intro-title-content::after {
    content: '';
    width: 14rem;
    height: 1.4px;
    background: #29C576;
    align-self: center;
}

.intro-title-content strong {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 2.6rem;
}

.intro-title-content p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 1.6rem;
    opacity: 0.7;
    text-transform: none;
    letter-spacing: -3px;
    text-align: center;
}

@media (max-width: 715px) {
    #intro-title .intro-title-content {
        font-size: 1.8rem;
    }

    #intro-title .intro-title-content strong {
        text-wrap: nowrap;
        font-size: 2.2rem;
    }
    .intro-para .para-content h4 {
        text-align: center;
    }
    .intro-para .para-content i{
        text-align:center;
    }
    .intro-title-content strong{
        font-size: 2rem;
    }
}




.intro-para{
    width: 100%;
    box-sizing: border-box;
}
.intro-para .container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items:center;
}

.intro-para .para-content{
    width: 45%;
    min-width: 40%;
    max-width: 100%;
}
    .intro-para .para-content h4 {
        font-family: "BauhausStd-Demi", sans-serif;
        font-weight: 600;
        font-size: 35px;
        color: #3ac810;
        text-transform: uppercase;
    }
.intro-para .para-content i{
    color: #90e577;
    font-size: 20px;
}
.intro-para .para-content p {
    text-align: justify;
}
.intro-para .para-img{
    width: 50%;
    height: 500px;
}
.intro-para .para-img img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 12px 12px 10px var(--greenhl), 13px 11px 40px var(--greenhl), 12px 14px 80px var(--greenhl);
}
@media (max-width: 1400px){
    .intro-para .para-content{
        width: 100%;
    }
    .intro-para .para-img{
        width: 100%;
    }
    .intro-para .para-img img{
        width: 100%;
    }
}





.our-products {
    margin: 3rem 0;
}


.our-products .container .row{
    align-items: center;
    justify-content: center;
    gap: 3rem;
    min-height: 400px;
}

.our-products .container .row .col-lg-3{
    min-width: 30% !important;
}


.product {
    position: relative;
    background: #fff;
    border: 1px solid #00b456;
    box-shadow: 0px 2px 8px #f3f3f3;
    border-radius: 18px;
    padding: 10px;
}

.product--links {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* padding: 15px 15px 25px; */
    height: fit-content;
    transition: all .3s;
    margin-bottom: 1rem;
}

.product--image {
    position: relative;
    width: 390px;
    height: 200px;
    /* overflow: hidden; */
    /* top: -35%; */
}

    .product--image img {
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center;
        object-position: center;
        transition: 0.4s ease;
    }

.product--content {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    /* padding-top: 50px; */
}


.product:hover {
    background: #00b456;
    transition: all 1s;
    box-shadow: 0 0 10px #00b456, 0 0 30px #00b456, 0 0 60px #00b456;
}

    .product:hover img{
        transform: scale(1.3);
        transition: 0.4s ease;
    }
    


    @media (max-width: 999px) {
        .our-products .container .row .col-lg-3{
        width: 80%;
    }
}






.ourGallery {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ourGallery .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
}

.ourGallery .swiper-slide img {
    display: block;
    width: 100%;
}


.intro-info{
    display: flex;
    width: 100%;
    justify-content: center;
}
.intro-info .container{
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    width:fit-content;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, .1049607843) 2px 3px 10px;
    padding: 1.5rem 0.4rem;
    margin: 0rem 2rem 3rem;
}
.intro-info .subinfo{
    display: flex;
    flex-direction: column;
    max-width: 28%;
    min-width: 300px;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.intro-info .subinfo img{
    width: 80px;
    height: 80px;
}