
body {
    background-image: url('/assets/images/bg-introduce.png') !important;
    background-size: cover !important;
}

.main-content {
    width: 100%;
    text-align: center;
    padding: 0 40px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.intro-picture {
    width: 100%;
    height: 300px;
}

    .intro-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


.cross-over {
    width: 100%;
    height: 40px;
    background-color: #e1e1e1;
}



.intro-title-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    letter-spacing: -1px;
    align-items: center;
}

    .intro-title-content div {
        transform: scaleY(1.5);
        margin-bottom: 20px;
    }

    .intro-title-content::after {
        content: '';
        width: 14rem;
        height: 1.4px;
        background: #29C576;
        align-self: center;
    }

    .intro-title-content strong {
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-size: 2.6rem;
    }

    .intro-title-content p {
        font-family: 'Courier New', Courier, monospace;
        font-weight: normal;
        font-size: 1.6rem;
        opacity: 0.7;
        text-transform: none;
        letter-spacing: -3px;
        text-align: center;
    }


.list-news{
    width: 100%;
    box-sizing: border-box;
}

.list-news .container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.list-news .container .item{
    display: flex;
    width: 600px;
    gap: 10px   ;
    float: left;
    margin: 0 30px 27px 0;
    font-size: 13px;
    color: #333;
}

.list-news .container .item .image{
    height: 100%;
    width: 30%;
    min-width: 30%;
}
.list-news .container .item .image img{
    width: 100%;
    height: 100%;
}

.list-news .container .item .icontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.list-news .container .item .icontent h4,span,p{
    text-align: justify;
}
.list-news .container .item .icontent span{
    font-size: 14px;
    color: gray;
    font-weight: 400;
}
.list-news .container .item .icontent h4:hover,p:hover,span:hover{
    color: #29C576;
    transition: all 0.2s;
}
.list-news .container .item .icontent p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 1400px){
    .list-news .container{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}

@media (max-width: 800px){
    .main-content{
        padding: 0;
    }
    .list-news{
        align-content:center;
    }
    .list-news .container {
        margin: 0;
        width: 98%;
    }
    .list-news .container .item{
        width: 98%
    }
}