
body{
    background-image: url('/assets/images/bg-introduce.png') !important; 
    background-size:cover !important;
}
#main{
    margin-top: 4rem !important;
}

@media (min-width: 1100px){
    #main{
        margin-top: 10rem !important;
    }
}


#content{
    min-height: 400px;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-content h2{
    text-align: center;
    font-weight: bold;
}
.media{
    width: 100%;
    align-content: center;
    text-align: center  ;
}