
body{
    background-image: url('/assets/images/bg-introduce.png') !important; 
    background-size:cover !important;
}
header {
    margin-bottom: 20px;
}

#content {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.intro-picture {
    width: 100%;
    height: 300px;
}

    .intro-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }




.cross-over {
    width: 100%;
    height: 40px;
    background-color: #e1e1e1;
}


.product-container {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 40px;
    max-width: 2000px;
    padding: 20px;
}

.img-card {
    width: 40%;
    padding: 30px;
    border: 3px solid #ccc;
    border-radius: 30px;
}

    .img-card img {
        width: 100%;
        flex-shrink: 0;
        border-radius: 4px;
        height: 520px;
        object-fit: cover;
        border-radius: 10px;
    }

.small-Card {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
    gap: 12px;
}

    .small-Card img {
        width: 104px;
        height: 104px;
        border-radius: 4px;
        cursor: pointer;
    }

        .small-Card img:active {
            border: 1px solid #17696a;
        }

.sm-card {
    border: 2px solid darkred;
}

.product-info {
    width: 60%;
}

    .product-info h3 {
        font-size: 32px;
        font-family: Lato;
        font-weight: 600;
        line-height: 130%;
    }

    .product-info h5 {
        font-size: 24px;
        font-family: Lato;
        font-weight: 500;
        line-height: 130%;
        color: #ff4242;
        margin: 6px 0;
    }

    .product-info del {
        color: #a9a9a9;
    }

    .product-info p {
        color: #424551;
        margin: 15px 0;
        width: 90%;
    }

.sizes p {
    font-size: 22px;
    color: black;
}

.size-option {
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
    padding: 5px;
}

.quantity input {
    width: 51px;
    height: 33px;
    margin-bottom: 15px;
    padding: 6px;
}

button {
    background: #17696a;
    border-radius: 4px;
    padding: 10px 37px;
    border: none;
    color: white;
    font-weight: 600;
}

    button:hover {
        background: #ff4242;
        transition: ease-in 0.4s;
    }

.delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    color: #787a80;
    font-size: 12px;
    font-family: Lato;
    line-height: 150%;
    letter-spacing: 1px;
}

hr {
    color: #787a80;
    width: 58%;
    opacity: 0.67;
}

.pagination {
    color: #787a80;
    margin: 15px 0;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {

    .img-card {
        width: 100%;
    }

    .product-container {
        flex-direction: column;
    }

    .small-Card img {
        width: 80px;
    }

    .product-info {
        width: 100%;
    }

        .product-info p {
            width: 100%;
        }

    .delivery {
        width: 100%;
    }

    hr {
        width: 100%;
    }
}

.product-detail {
    margin: 2rem;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .1049607843) 0px 3px 10px;
}
.product-detail h2{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 2.6rem;
}


.table--product-detail {
    display: block;
    border: 1px solid #c2c2c2;
    margin-bottom: 30px;
}
.table--product-detail .table--item:not(:last-child) {
    border-bottom: 1px solid #c2c2c2;
}

.table--product-detail .table--item {
    position: relative;
    display: flex;
    align-items: stretch;
}
.table--product-detail .table--item>div {
    padding: 0 30px;
}
.table--product-detail .table--left {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #4f4f4f;
    background: #f2f2f2;
    min-width: 175px;
    border-right: 1px solid #c2c2c2;
}
.table--product-detail .table--item>div {
    padding: 0 30px;
}
.table--product-detail .table--right {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4f4f4f;
    width: 100%;
}