
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: black !important;
}


.temp-header{
    display:none;
}
#app {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1110;
    transition: all .1s;
    height: 4rem;
    z-index:999;
}


    #header .container {
        max-width: 1000px;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 30px;
        height: 4rem;
        background-color: rgba(255,255,255,0.75);
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        box-sizing: border-box;
        flex-wrap: nowrap;
        box-shadow: rgba(0, 0, 0, .1049607843) 0px 3px 10px;
    }

    #header.scroll {
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        width: 100%;
        transition: all .1s;
        height: 4rem;
        background-color: rgba(255,255,255, 0.85) !important;
        box-shadow: rgba(0, 0, 0, .1049607843) 0px 3px 10px;
    }

        #header.scroll .container {
            box-shadow: none;
            background-color: rgba(255,255,255,0) !important;
        }




    #header .header-left {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: fit-content;
        height: 100%;
    }

    #header .header-right {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: auto;
        width: fit-content;
        height: 100%;
        gap: 2rem;
    }




#main {
    min-height: 500px;
}



/* MENU */


.menu-area {
    display: flex;
}

.menu {
    width: 100%;
    display: flex;
}

    .menu a {
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: center;
        position: relative;
        display: inline-block;
    }
    /* Đường gạch dưới */
    .menu .menu-item a::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 20%;
        width: 120%;
        height: 2px;
        background-color: #d83164;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
    }
    .menu .menu-item.active a {
        color: #6c584b !important;
    }
    .menu .menu-item.active a::after {
        transform: translateX(-50%) scaleX(1);
    }
    .menu .menu-item:hover a::after {
        transform: translateX(-50%) scaleX(1);
    }


        .menu a:focus,
        .menu a:focus-within {
            outline: none;
        }


    

    .menu > ol {
        display: flex;
        gap: 0.5rem;
        margin: 0 !important;
        list-style-type: none;
    }


        .menu > ol > li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 1rem;
            padding-right: 1rem;
            min-height: 4rem;
        }
            .menu > ol > li > a {
                font-family: "Pacifico", cursive;
                font-weight: bold;
                font-style: normal;
            }



    .menu .menu-item .sub-menu {
        background-color: white;
        width: fit-content;
        list-style-type: none;
        overflow: hidden;
        border-radius: 20px;
    }

#header .header-left .menu-bar {
/*    margin: 0.2rem;*/
/*    padding: 0.4rem 0;*/
    cursor: pointer;
}

.header-left .menu-bar .menu-icon {
    display: none;
}

@media (min-width: 1100px) {
    .header-left .menu-bar .menu-icon {
        display: none;
    }

    .menu > ol {
        justify-content: space-around;
        padding: 0 !important;
    }

        .menu > ol > li > a {
            font-size: 20px;
            position: relative;
            width: 100%;
            text-align: center;
            z-index: 1;
            transition: 250ms ease all;
        }

        .menu > ol > li > img {
            display: none !important;
        }

        .menu > ol > li > ol {
            position: absolute;
            top: 100%;
            width: 100%;
            visibility: hidden;
            min-width: fit-content;
            padding: 0 !important;
            border-radius: 10px;
        }

            .menu > ol > li > ol > li {
                margin-top: 0.5rem;
                transition: 250ms cubic-bezier(0.42, 0.83, 0.49, 1.35) transform;
                transform: scale(0);
            }

                .menu > ol > li > ol > li > a {
                    text-wrap: nowrap;
                    display: block;
                    text-align: center;
                    border-radius: 0.2rem;
                    padding: 1rem 0.5rem;
                    font-size: 20px;
                    background: white;
                    color: rgba(255, 255, 255, 0.6);
                    transition: 250ms ease all;
                }

                    .menu > ol > li > ol > li > a:hover,
                    .menu > ol > li > ol > li > a:focus,
                    .menu > ol > li > ol > li > a:focus-within {
                        box-shadow: inset 0 0 0 3rem rgba(0, 0, 0, 0.1);
                        color: rgba(255, 255, 255, 1);
                    }

        .menu > ol > li:hover > a,
        .menu > ol > li:focus > a,
        .menu > ol > li:focus-within > a {
            opacity: 1 !important;
        }

        .menu > ol > li:hover > ol,
        .menu > ol > li:focus > ol,
        .menu > ol > li:focus-within > ol {
            visibility: visible;
        }

            .menu > ol > li:hover > ol > li,
            .menu > ol > li:focus > ol > li,
            .menu > ol > li:focus-within > ol > li {
                transform: scale(1);
            }

                .menu > ol > li:hover > ol > li:first-child,
                .menu > ol > li:focus > ol > li:first-child,
                .menu > ol > li:focus-within > ol > li:first-child {
                    transition-delay: 150ms;
                }

    
}


/*
    RESPONSIVE FOR SMALL WIDTH
*/


@media (max-width: 1100px) {
    #header {
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        width: 100%;
        transition: all .1s;
        height: 4rem;
    }

    #main {
        margin-top: 4rem;
        transition: 0.5s ease;
    }

    #header > .container {
        width: 100% !important;
        min-width: 100% !important;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        border-radius: 0%;
        padding: 12px 25px;
    }

    #header .header-left {
        display: flex;
        flex: 1 !important;
        justify-content: center;
        align-content: center;
        height: 30px;
    }

        

    #header .header-left {
        position: relative;
        width: fit-content;
        display: block;
    }

        #header .header-left .menu-bar .menu-icon {
            display: block;
        }


    .menu {
        display: flex;
        position: fixed;
        left: 0;
        top: 4rem;
        bottom: 0;
        background: #fff;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, .08);
        height: 100%;
        width: min(27rem, 70%);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all .3s linear;
        z-index: 999;
    }

        .menu a {
            height: auto !important;
        }

        .menu ol {
            width: 100%;
            margin: 0 !important;
            padding: 0 !important;
            gap: 0;
        }

        .menu.active {
            transform: translateX(0);
            opacity: 0.85;
            visibility: visible;
            pointer-events: inherit;
            transition: all .3s linear;
        }

        .menu a {
            font-size: 20px;
            padding: 0.5rem 0.5rem;
        }

        .menu > ol {
            top: 0;
            left: 0;
            flex-direction: column;
        }

            .menu > ol > li {
                flex-direction: column;
                align-items: stretch;
                text-align: center;
                min-height: 1rem;
                width: 100%;
                padding: 0 !important;
            }

                .menu > ol > li > a {
                    border-bottom: 1px solid #a7a7a7;
                }

                    .menu > ol > li > a:nth-last-child(2) {
                        position: relative;
                    }

                .menu > ol > li > img {
                    display: block !important;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    right: 30px;
                    top: 3px;
                    padding: 8px;
                    width: 40px;
                    height: 40px;
                    transition: all 0.5s ease;
                    cursor: pointer;
                }

            .menu > ol > .menu-item.active > img {
                transform: rotate(90deg);
            }

            .menu > ol > .menu-item.active > ol {
                max-height: fit-content;
            }

            .menu > ol > li > ol {
                background: rgba(0, 0, 0, 0.1);
                box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.15);
                overflow: hidden;
                max-height: 0;
                transition: 250ms ease all;
                width: 100% !important;
                border-radius: 0 !important;
            }

                .menu > ol > li > ol > li {
                    width: 100% !important;
                }

                    .menu > ol > li > ol > li > a {
                        display: block;
                        font-size: 1.2rem;
                        width: 100% !important;
                    }
        .menu .menu-item a::after {
            width: 0;
        }
}

#main {
    width: 100%;
}





#footer {
    width: 100%;
    height: fit-content;
    background-color: #FCF5EF;
}




/*-----------------------------Meo----------------------*/
.mainfooter {
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url('/assets/images/bg-footer.png');
    background-size: cover; /* Hiển thị toàn bộ ảnh */
    background-repeat: no-repeat;
    background-position: top center; /* Giữ phần trên của ảnh */
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

    .mainfooter .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .mainfooter h1 {
        font-size: 2.5rem;
        letter-spacing: 1px;
        align-items: center;
        font-family: "Alex Brush", cursive;
        font-weight: normal;
        font-style: normal;
        font-size: 2.6rem;
        margin: 0;
        color: #FED8B1;
        text-wrap: nowrap;
    }

.mainfooter .container h4 {
    color: #90e577;
    font-weight: bold;
    text-transform: uppercase;
}


.logo {
    flex-wrap: nowrap !important;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: flex-start !important;
}


    .logo img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .logo p {
        font-family: "Arima", system-ui;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }

.contact-info {
    display: flex;
    gap: 5px;
}

    .contact-info p a {
        color: white !important;
    }

    .contact-info img {
        width: 25px;
        height: 25px;
    }

.social-media {
    max-width: 40px;
    max-height: 40px
}

    .social-media img {
        max-width: 40px;
        max-height: 40px
    }

.social-contact {
    align-items: center !important;
    justify-content: center !important;
    gap: 2rem !important;
}

@media (max-width: 1400px) {
    .fintro {
        max-width: 45%;
        min-width: 200px;
    }
}

@media (max-width: 768px) {
    .mainfooter .container {
        flex-direction: column;
        align-items: center;
    }

    .social-contact {
        flex-direction: row !important;
    }

    .logo {
        justify-content: center !important;
    }

    .fintro {
        max-width: 90%;
        min-width: 200px;
    }
}

.endfooter {
    width: 100%;
    min-height: 40px;
    background-color: #000000;
    color: white;
    align-content: center;
}

    .endfooter .container {
        opacity: 0.4;
    }














.btn-highlight {
    width: 100px;
    height: 95%;
    position: relative;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    overflow: hidden;
    transition: 0.5s;
    border-style: none;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    background-color: #ffffff;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    margin: 5px;
    padding: 3px 0;
}

    .btn-highlight div {
        font-size: 16px;
        text-transform: uppercase;
    }

    .btn-highlight:hover {
        color: #ffffff;
        background: #00b456 !important;
        box-shadow: 0 0 10px #00b456, 0 0 40px #00b456, 0 0 80px #00b456;
        transition-delay: 0.5s;
    }

    .btn-highlight span {
        position: absolute;
        display: block;
    }

        .btn-highlight span:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, #00b456);
        }

    .btn-highlight:hover span:nth-child(1) {
        left: 100%;
        transition: 0.5s;
    }

    .btn-highlight span:nth-child(2) {
        top: -100%;
        right: 0%;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #00b456);
    }

    .btn-highlight:hover span:nth-child(2) {
        top: 100%;
        transition: 0.5s;
        transition-delay: 0.05s;
    }

    .btn-highlight span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #00b456);
    }

    .btn-highlight:hover span:nth-child(3) {
        right: 100%;
        transition: 0.5s;
    }

    .btn-highlight span:nth-child(4) {
        bottom: -100%;
        left: 0%;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #00b456);
    }

    .btn-highlight:hover span:nth-child(4) {
        bottom: 100%;
        transition: 0.5s;
        transition-delay: 0.05s;
    }





.btn-none {
    outline: none !important;
    border: none !important;
    background: inherit;
}









/* Styles for scroll animation */
.scroll-animate {
    opacity: 0;
    transform: translateY(60px);
    scale: 0.1;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.scroll-animate-d2 {
    opacity: 0;
    transform: translateY(120px);
    scale: 0.1;
    transition: opacity 1.4s ease-out, transform 1.4s ease-out;
}

.scroll-animate-bottom {
    scale: 0.1;
    opacity: 0;
    transform: translateY(-60px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.scroll-animate-succeed {
    scale: 1.0 !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}


.menu-icon {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

    .menu-icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #000000;
        border-radius: 9px;
        opacity: 0.8;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

        .menu-icon span:nth-child(1) {
            top: 0px;
        }

        .menu-icon span:nth-child(2) {
            top: 8px;
        }

        .menu-icon span:nth-child(3) {
            top: 16px;
        }

    .menu-icon.active span:nth-child(1) {
        top: 8px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .menu-icon.active span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .menu-icon.active span:nth-child(3) {
        top: 8px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
